.nav {
    background-color:darkgray;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;    
}

.nav-title {
    justify-content: flex-start;
    color: white;
    margin-left: 10px;
    

}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

li {
    margin-right: 10px;
    
  }

a {
    text-decoration: none;
    color: #888888;

}

.active {
    color: white;

}

.btn {
    background-color: #17a2b8;
    box-shadow: 3px 5px black;
    color: white;   
}